progress,          /* All HTML5 progress enabled browsers */
progress[role]     /* polyfill */
{
	-webkit-appearance: none;
	width: 60%;
	height: 20px;
}

progress{
	padding-top: 1px;
}

/* Polyfill */
progress[role]:after {
	background-image: none; /* removes default background from polyfill */
}

/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
	display: none;
}

/* Chrome */
progress::-webkit-progress-bar {
    background: #ffeeee;
}

.deathRed::-webkit-progress-value {
    background: red;
}

.criticalDarkRed::-webkit-progress-value {
    background: rgb(184, 23, 55);
}

.recoveredGreen::-webkit-progress-value {
    background: lime;
}

.activeYellow::-webkit-progress-value {
    background: yellow;
}

.casesDonePurple::-webkit-progress-value {
    background: purple;
}

.centerDiv{
	margin: 0 auto;
	position: relative;
}


/*
lav metode til at finde maks 
*/