progress,          /* All HTML5 progress enabled browsers */
progress[role]     /* polyfill */
{
	-webkit-appearance: none;
	width: 98%;
	height: 20px;
}

progress{
	padding-top: 1px;
}

/* Polyfill */
progress[role]:after {
	background-image: none; /* removes default background from polyfill */
}

/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
	display: none;
}

/* Chrome */
progress::-webkit-progress-bar {
    background: lightgray;
}

.deathRed::-webkit-progress-value {
    background: red;
}

.criticalDarkRed::-webkit-progress-value {
    background: rgb(184, 23, 55);
}

.recoveredGreen::-webkit-progress-value {
    background: lime;
}

.activeYellow::-webkit-progress-value {
    background: yellow;
}

.casesDonePurple::-webkit-progress-value {
    background: purple;
}

.centerBoxBar{
	margin-left: 1%;
}

.gridRow{
    display: grid;
    grid-template-rows: 0.2%;
}

.gridColumn{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
	grid-gap: 1.5%;
}

.backgroundBoxColor{
	background-color: cadetblue;
	border-style: outset;
	margin-top: 4%;
	margin-bottom: 4%;
}

.centerTitleSearchbox {
	text-align: center;
	margin-bottom: 1%;
}

.searchboxTop {
	width: 20%;
	font-size: medium;

}

input {
	text-align: center;
}